//Delete pop-up warninig
.delete-container {
    & h3 {
        text-align: center;
        font-size: 17px;
        font-weight: 600;
        color: blue;
    }
    & p {
        text-align: center;
        font-size: 15px;
        margin: 10px auto;
        color: red;
    }
    .delete-btns{
        display: flex;
        justify-content: space-evenly;
        p {
            padding: 4px 10px;
            min-width: 25%;
            background-color: transparent;
            border: 2px solid blue;
            color: blue;
            font-size: 14px;
            font-weight: 600;
            border-radius: 15px;
            outline: none;
            text-transform: uppercase;
            cursor: pointer;
            transition: all .3s ease-in;
            &:hover {
                background-color: blue;
                color: white;
            }
        }
        .delete {
            border: 2px solid red;    
            color: red;     
            transition: all .3s ease-in;
            &:hover {
                background-color: red;
                color: white;
            }
        }
    }
}

