//Empty list message if the list cont. 0 entries
.empty-list {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    .line {
        height: 2px;
        width: 250px;
        background: blue;
        margin: auto;
    }
}
