.menu-button {
    display: block;
    width: 55px;
    cursor: pointer;
    &:hover div {
        width: 45px;
    }
    div {
        height: 3px;
        background: blue;  
        margin: 4px 0;   
        transition: all .5s ease-in-out;            
    }
    .one {
        width: 55px;
    }
    .two {
        width: 25px;
    }
    .three {
        width: 40px;
    }
}