.list-wrapper{
    margin: auto;
    width: 55%;
    .counter {
        font-size: 13px;
        font-weight: 600;
        text-align: start;
        color: blue;
    }
    .total-price {
        font-size: 14px;    
        color: green;   
        text-align: end;
        margin: 10px 10px 0 0;
        span {
            font-size: 15px;
            font-weight: 600;
        }
    }
}