.main-header {
    position: relative;
    display: flex;
    padding: 25px 2%;
    align-items: center;
    justify-content: space-between;
    .logo{
        position: absolute;
        right: 50%;
        width: 80px;
        height: auto;
        cursor: pointer;
    }
    .auth-btn {
        display: flex;
        align-items: center;
        a {
            font-size: 24px;
            font-weight: 700;
            color: blue;
            cursor: pointer;
            transition: all .4s ease-in-out;   
            &:hover {
                color: burlywood;
                transform: scale(1.25);
            }
        }
    }
}

