.main-wrapper{
    .storage-name {
        text-align: center;
        font-size: 22px;
        margin: 15px 0 35px 0;
        span {
            color: blue;
            font-size: 24px;
        }
    }
}
