.product-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    margin: auto;
    border-bottom: 1px solid blue;
    padding: 0 5px;
    align-items: center;
    height: 30px;
    padding-top: 12px;
    .priority-icon {
        position: absolute;
        top: 6px;
        left: -20px;
        font-size: 20px;
    }
    p{
        font-size: 14px;
        text-align: end;
    }
    .name {
        width: 30%;
        text-align: start;
    }
    .price {
        width: 12%;
        position: relative;
        .vat-icon {
            position: absolute;
            top: 2px;
            right: -20px;
            color: #9ba585;
            cursor: pointer;
        }
    }
    .quantity {
        width: 8%;
    }
    .type {
        width: 7%;
        text-align: start;
    }
    .storage {
        width: 15%;
    }
    .total {
        width: 13% ;
    }
    .settings {
        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 15%;
        align-items: center;
        p {
            margin-left: 10px;
            font-size: 16px;
            cursor: pointer;
            color: blue;
            transition: all .2s ease-in;
            &:hover {
                color: rgb(230, 68, 68);
                transform: scale(1.15);
            }
        }
    }
}