.table-header {
    display: flex;
    width: 55%;
    margin: 0 auto 5px auto;
    border-bottom: 1px solid blue;
    padding: 0 5px;
    align-items: center;
    height: 30px;
    padding-top: 12px;
    p{
        font-size: 15px;
        font-weight: 700;
        text-align: end;
        color: blue;
    }
    .name {
        width: 30%;
        text-align: start;
    }
    .price {
        width: 12%;
    }
    .quantity {
        width: 15%;
    }
    .storage {
        width: 15%;
    }
    .total {
        width: 12%;
    }
    
}

