.upload-file{
    position: relative;
    margin: 10px auto;
    width: 55%;
    .toggle-upload {
        position: absolute;
        top: -2.5px;
        left: -35px;
        font-size: 32px;
        color: blue;
        transition: all .2s ease-in;
        cursor: pointer;
        &:hover {
            color: rgb(248, 105, 105);
        }
    }
    .upload-form {
        margin: auto;
        color: blue;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: none;
        border: 1px solid blue;
        padding: 8px 16px;
        font-weight: 700;
        border-radius: 20px;
        white-space: nowrap;
        width: 65%;
        text-align: center;
        cursor: pointer;
        .upload-input::-webkit-file-upload-button {
            visibility: hidden;
        }
        .upload-input::before {
            content: 'Select files';
            background: none;
            border: 1px solid blue;
            border-radius: 20px;
            padding:3px 10px;
            outline: none;
            white-space: nowrap;
            box-shadow: 2px 2px 2px 0px #9BB5A1;
            -webkit-user-select: none;
            transition: all .2s ease-in;
            cursor: pointer;
        }
        .upload-input:hover::before {
            background-color: blue;
            color: white;
        }
        input[type=submit]{
            width: 30%;
            padding:3px 15px;
            color: blue;
            background: none;
            border: 1px solid blue;        
            border-radius: 20px;
            outline: none;
            transition: all .2s ease-in;
            box-shadow: 2px 2px 2px 0px #9BB5A1;
            text-transform: uppercase;
            text-align: center;
            cursor: pointer;
            &:hover {
                background-color: blue;
                color: white;
            }
        }
    }
}