//Change view of storage list or cards
.view {
    display: flex;
    justify-content: space-around;
    width: 80px;
    margin: 20px auto 0 auto;
    p {
        font-size: 26px;
        color: blue;
        cursor: pointer;
        transition: all .2s ease-in;
        &:hover{
            color: rgb(230, 68, 68);
            transform: scale(1.25);
        }
    }
}
