@import './global-style';
@import './hamburger-btn';
@import './nav-bar';
@import './main-header';
@import './product-form';
@import './product-item';
@import './table-header';
@import './prority-btn';
@import './empty-list';
@import './list-wrapper';
@import './storage-item';
@import './storage-form';

.storage-main {
    width: 55%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.view {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    p {
        font-size: 26px;
        color: blue;
        cursor: pointer;
        transition: all .2s ease-in;
        &:hover{
            color: rgb(230, 68, 68);
            transform: scale(1.25);
        }
    }
}

