@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.menu-button {
  display: block;
  width: 40px;
  cursor: pointer;
}

.menu-button:hover div {
  width: 35px;
  background: #e64444;
}

.menu-button div {
  height: 3px;
  background: blue;
  margin: 4px 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-button .one {
  width: 40px;
}

.menu-button .two {
  width: 20px;
}

.menu-button .three {
  width: 30px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  left: 2%;
  top: 20%;
}

.navbar li {
  list-style: none;
  text-align: start;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 10px;
}

.navbar li a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar li a:hover, .navbar li a.active {
  color: blue;
}

.main-header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header .logo {
  position: absolute;
  right: 50%;
}

.main-header .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header .login a {
  font-size: 24px;
  font-weight: 700;
  color: blue;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.main-header .login a:hover {
  color: burlywood;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.form-main {
  position: relative;
  width: 55%;
  margin: 10px auto 30px auto;
}

.form-main .toggle-form {
  position: absolute;
  top: -2.5px;
  left: -35px;
  font-size: 32px;
  color: blue;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.form-main .toggle-form:hover {
  color: #f86969;
}

.form-main .form-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.form-main .form-wrapper input[type=text],
.form-main .form-wrapper input[type=number] {
  border: none;
  outline: none;
  border-bottom: 1.5px solid blue;
  padding: 8px 0 0 4px;
}

.form-main .form-wrapper .errors {
  position: absolute;
  border: 2px solid #f05252;
  padding: 2px 10px;
  top: 35px;
  left: 25%;
  font-size: 13px;
  font-weight: 600;
  color: #f05252;
}

.form-main .form-wrapper input[type=text] {
  width: 45%;
}

.form-main .form-wrapper input[type=number] {
  width: 13%;
}

.form-main .form-wrapper input[type=number]::-webkit-inner-spin-button,
.form-main .form-wrapper input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.form-main .form-wrapper input[type=number] {
  -moz-appearance: textfield;
}

.form-main .form-wrapper input[type=submit] {
  width: 15%;
  padding: 3px 15px;
  color: blue;
  background: none;
  border: 1px solid blue;
  border-radius: 20px;
  outline: none;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  -webkit-box-shadow: 2px 2px 2px 0px #9BB5A1;
          box-shadow: 2px 2px 2px 0px #9BB5A1;
  text-transform: uppercase;
  text-align: center;
}

.form-main .form-wrapper input[type=submit]:hover {
  background-color: blue;
  color: white;
}

.form-main .form-wrapper .close-btn {
  position: absolute;
  top: -2.5px;
  right: -25px;
  font-size: 26px;
  color: blue;
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.form-main .form-wrapper .close-btn:hover {
  color: #f86969;
}

.form-main .form-wrapper input::-webkit-input-placeholder {
  color: blue;
}

.form-main .form-wrapper input:-ms-input-placeholder {
  color: blue;
}

.form-main .form-wrapper input::-ms-input-placeholder {
  color: blue;
}

.form-main .form-wrapper input::placeholder {
  color: blue;
}

.form-main .form-wrapper select {
  border: none;
  outline: none;
  width: 14%;
  border-bottom: 1.5px solid blue;
  padding: 8px 0 0 4px;
}

.form-main .form-wrapper .type {
  width: 10%;
}

@media (max-width: 480px) {
  .form-wrapper {
    width: 95%;
  }
}

.product-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid blue;
  padding: 0 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding-top: 12px;
}

.product-wrapper .priority-icon {
  position: absolute;
  top: 6px;
  left: -20px;
  font-size: 20px;
}

.product-wrapper p {
  font-size: 14px;
  text-align: end;
}

.product-wrapper .name {
  width: 30%;
  text-align: start;
}

.product-wrapper .price {
  width: 12%;
  position: relative;
}

.product-wrapper .price .vat-icon {
  position: absolute;
  top: 2px;
  right: -20px;
  color: #9ba585;
}

.product-wrapper .quantity {
  width: 8%;
}

.product-wrapper .type {
  width: 7%;
  text-align: start;
}

.product-wrapper .storage {
  width: 15%;
}

.product-wrapper .total {
  width: 13%;
}

.product-wrapper .settings {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product-wrapper .settings p {
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  color: blue;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.product-wrapper .settings p:hover {
  color: #e64444;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.table-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid blue;
  padding: 0 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  padding-top: 8px;
}

.table-header p {
  font-size: 15px;
  font-weight: 700;
  text-align: end;
  color: blue;
}

.table-header .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.table-header .name p {
  text-align: start;
  margin-right: 5px;
}

.table-header .name .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-header .name .order p {
  padding-top: 4px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.table-header .name .order p:hover {
  color: #e64444;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.table-header .price {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12%;
}

.table-header .price p {
  margin-right: 5px;
}

.table-header .price .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.table-header .price .order p {
  padding-top: 4px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.table-header .price .order p:hover {
  color: #e64444;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.table-header .quantity {
  width: 15%;
}

.table-header .storage {
  width: 15%;
}

.table-header .total {
  width: 13%;
}

.priority-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: -90px;
  top: 0;
}

.priority-btn .priority-item {
  font-size: 25px;
}

.empty-list {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.empty-list .line {
  height: 2px;
  width: 250px;
  background: blue;
  margin: auto;
}

.list-wrapper {
  margin: 50px auto 0 auto;
  width: 65%;
}

.list-wrapper .counter {
  font-size: 13px;
  font-weight: 600;
  text-align: start;
  color: blue;
  padding: 0 5px;
}

.list-wrapper .total-price {
  font-size: 14px;
  color: green;
  text-align: end;
  margin: 10px 10px 0 0;
}

.list-wrapper .total-price span {
  font-size: 15px;
  font-weight: 600;
}

.storage-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  width: 100%;
}

.storage-wrapper .storage-item {
  width: 30%;
  border: 2px solid blue;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 6px 6px 5px 0px #9BB5A1;
          box-shadow: 6px 6px 5px 0px #9BB5A1;
  margin: 10px;
}

.storage-wrapper .storage-item p {
  margin: 15px 0;
  font-size: 20px;
  font-weight: 700;
  color: blue;
}

.storage-wrapper .storage-item .stgs-btn {
  margin: 15px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.storage-wrapper .storage-item .stgs-btn button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  color: blue;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  text-align: center;
  font-size: 22px;
}

.storage-wrapper .storage-item .stgs-btn button:hover {
  color: #e64444;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.storage-wrapper .storage-item img {
  width: 80%;
  height: auto;
}

.storage-form {
  margin: 15px auto;
  width: 70%;
}

.storage-form p {
  text-align: center;
  color: blue;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.storage-form input[type=text] {
  border: none;
  outline: none;
  border-bottom: 1.5px solid blue;
  padding: 8px 0 0 4px;
}

.storage-form input[type=text] {
  width: 70%;
  margin-right: 10px;
}

.storage-form input[type=submit] {
  width: 25%;
  padding: 3px 15px;
  color: blue;
  background: none;
  border: 1px solid blue;
  border-radius: 20px;
  outline: none;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  text-transform: uppercase;
  text-align: center;
}

.storage-form input[type=submit]:hover {
  background-color: blue;
  color: white;
}

.storage-form input::-webkit-input-placeholder {
  color: blue;
}

.storage-form input:-ms-input-placeholder {
  color: blue;
}

.storage-form input::-ms-input-placeholder {
  color: blue;
}

.storage-form input::placeholder {
  color: blue;
}

.view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80px;
  margin: 20px auto 0 auto;
}

.view p {
  font-size: 26px;
  color: blue;
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.view p:hover {
  color: #e64444;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.simple-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.simple-wrapper .simple-item {
  border-bottom: 1px solid blue;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0 1px 5px;
  margin: auto;
}

.simple-wrapper .simple-item p {
  width: 69%;
  font-size: 17px;
  font-weight: 600;
  color: blue;
}

.simple-wrapper .simple-item .simple-btn {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.simple-wrapper .simple-item .simple-btn button {
  cursor: pointer;
  outline: none;
  border: none;
  background: none;
  color: blue;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  text-align: center;
  font-size: 22px;
}

.simple-wrapper .simple-item .simple-btn button:hover {
  color: #e64444;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.main-wrapper .storage-name {
  text-align: center;
  font-size: 22px;
  margin: 15px 0 35px 0;
}

.main-wrapper .storage-name span {
  color: blue;
  font-size: 24px;
}

.modal {
  position: fixed;
  z-index: 50;
  background-color: white;
  width: 30%;
  border: 2px solid blue;
  -webkit-box-shadow: 6px 6px 5px 0px #9BB5A1;
          box-shadow: 6px 6px 5px 0px #9BB5A1;
  border-radius: 20px;
  padding: 15px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 420px) {
  .modal {
    width: 80%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(213, 231, 248, 0.85);
  z-index: 40;
}

.save-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 35%;
  margin: 20px auto 0 auto;
}

.save-btn .save-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 20px auto 0 auto;
  width: 100px;
  padding: 5px;
  color: blue;
  background: none;
  border: 2px solid blue;
  border-radius: 20px;
  outline: none;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  text-transform: uppercase;
  -webkit-box-shadow: 2px 2px 2px 0px #9BB5A1;
          box-shadow: 2px 2px 2px 0px #9BB5A1;
  text-align: center;
  cursor: pointer;
}

.save-btn .save-list span {
  font-size: 12px;
}

.save-btn .save-list:hover {
  background-color: blue;
  color: white;
}

.delete-container h3 {
  text-align: center;
  font-size: 17px;
  font-weight: 600;
  color: blue;
}

.delete-container p {
  text-align: center;
  font-size: 15px;
  margin: 10px auto;
  color: red;
}

.delete-container .delete-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.delete-container .delete-btns p {
  padding: 4px 10px;
  min-width: 25%;
  background-color: transparent;
  border: 2px solid blue;
  color: blue;
  font-size: 14px;
  font-weight: 600;
  border-radius: 15px;
  outline: none;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.delete-container .delete-btns p:hover {
  background-color: blue;
  color: white;
}

.delete-container .delete-btns .delete {
  border: 2px solid red;
  color: red;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.delete-container .delete-btns .delete:hover {
  background-color: red;
  color: white;
}

.lower-header {
  position: relative;
  background-color: #D2DDBB;
  padding: 4px 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lower-header .welcome {
  font-size: 14px;
}

.lower-header .welcome span {
  color: blue;
}

.lower-header .storage-btn {
  font-size: 14px;
  color: blue;
  background-color: white;
  border: 1px solid white;
  -webkit-box-shadow: 2px 2px 2px 0px #9BB5A1;
          box-shadow: 2px 2px 2px 0px #9BB5A1;
  padding: 0 8px;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.lower-header .storage-btn:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.lower-header .storage-options {
  position: absolute;
  right: 2%;
  top: 30px;
  background-color: #D2DDBB;
  padding: 5px 15px;
}

.lower-header .storage-options p {
  text-align: end;
  font-size: 14px;
  font-weight: 600;
  margin-top: 5px;
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.lower-header .storage-options p:hover {
  color: blue;
}

.upload-file {
  position: relative;
  margin: 10px auto;
  width: 55%;
}

.upload-file .toggle-upload {
  position: absolute;
  top: -2.5px;
  left: -35px;
  font-size: 32px;
  color: blue;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.upload-file .toggle-upload:hover {
  color: #f86969;
}

.upload-file .upload-form {
  margin: auto;
  color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: 1px solid blue;
  padding: 8px 16px;
  font-weight: 700;
  border-radius: 20px;
  white-space: nowrap;
  width: 65%;
  text-align: center;
  cursor: pointer;
}

.upload-file .upload-form .upload-input::-webkit-file-upload-button {
  visibility: hidden;
}

.upload-file .upload-form .upload-input::before {
  content: 'Select files';
  background: none;
  border: 1px solid blue;
  border-radius: 20px;
  padding: 3px 10px;
  outline: none;
  white-space: nowrap;
  -webkit-box-shadow: 2px 2px 2px 0px #9BB5A1;
          box-shadow: 2px 2px 2px 0px #9BB5A1;
  -webkit-user-select: none;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  cursor: pointer;
}

.upload-file .upload-form .upload-input:hover::before {
  background-color: blue;
  color: white;
}

.upload-file .upload-form input[type=submit] {
  width: 30%;
  padding: 3px 15px;
  color: blue;
  background: none;
  border: 1px solid blue;
  border-radius: 20px;
  outline: none;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  -webkit-box-shadow: 2px 2px 2px 0px #9BB5A1;
          box-shadow: 2px 2px 2px 0px #9BB5A1;
  text-transform: uppercase;
  text-align: center;
}

.upload-file .upload-form input[type=submit]:hover {
  background-color: blue;
  color: white;
}

.storage-main {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}
/*# sourceMappingURL=App.css.map */