@import './global-style';
@import './hamburger-btn';
@import './nav-bar';
@import './main-header';
@import './product-form';
@import './product-item';
@import './table-header';

.priority-btn{
    display: flex;
    position: absolute;
    right: -90px;
    top: 0;
    .priority-item {
        font-size: 25px;
    }
}
