@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.menu-button {
  display: block;
  width: 55px;
  cursor: pointer;
}

.menu-button:hover div {
  width: 45px;
}

.menu-button div {
  height: 3px;
  background: blue;
  margin: 4px 0;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.menu-button .one {
  width: 55px;
}

.menu-button .two {
  width: 25px;
}

.menu-button .three {
  width: 40px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  left: 2%;
  top: 15%;
}

.navbar li {
  list-style: none;
  text-align: start;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 10px;
}

.navbar li a {
  text-decoration: none;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar li a:hover, .navbar li a.active {
  color: blue;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 2%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header .logo {
  position: fixed;
  right: 50%;
}

.main-header .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 22px;
  font-weight: 700;
  color: blue;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.main-header .login:hover {
  color: burlywood;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.form-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 55%;
  margin: 10px auto 30px auto;
}

.form-wrapper input[type=text],
.form-wrapper input[type=number] {
  border: none;
  outline: none;
  border-bottom: 1.5px solid blue;
  margin-right: 5px;
  padding: 8px 0 0 4px;
}

.form-wrapper input[type=text] {
  width: 35%;
}

.form-wrapper input[type=number] {
  width: 8%;
}

.form-wrapper input[type=number]::-webkit-inner-spin-button,
.form-wrapper input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.form-wrapper input[type=number] {
  -moz-appearance: textfield;
}

.form-wrapper input[type=submit] {
  width: 15%;
  padding: 5px 15px;
  color: blue;
  background: none;
  border: 1px solid blue;
  border-radius: 20px;
  outline: none;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  text-transform: uppercase;
  text-align: center;
}

.form-wrapper input[type=submit]:hover {
  background-color: blue;
  color: white;
}

.form-wrapper .close-btn {
  position: absolute;
  top: 0;
  left: -35px;
  margin-right: 5px;
  font-size: 25px;
  color: blue;
  cursor: pointer;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.form-wrapper .close-btn:hover {
  color: #f86969;
}

.form-wrapper input::-webkit-input-placeholder {
  color: blue;
}

.form-wrapper input:-ms-input-placeholder {
  color: blue;
}

.form-wrapper input::-ms-input-placeholder {
  color: blue;
}

.form-wrapper input::placeholder {
  color: blue;
}

.form-wrapper select {
  border: none;
  outline: none;
  width: 15%;
  border-bottom: 1.5px solid blue;
  margin-right: 5px;
  padding: 8px 0 0 4px;
}

.form-wrapper .type {
  width: 8%;
}

@media (max-width: 480px) {
  .form-wrapper {
    width: 95%;
  }
}
/*# sourceMappingURL=App.css.map */