@import './global-style';
@import './hamburger-btn';
@import './nav-bar';
@import './main-header';
@import './product-form';
@import './product-item';
@import './table-header';
@import './prority-btn';
@import './empty-list';

.list-wrapper{
    margin: auto;
    width: 55%;
    .counter {
        font-size: 13px;
        font-weight: 600;
        text-align: start;
        color: blue;
    }
}